/* =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */
/* =*= _generalClasses =*= */
/* =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */
/* Исползуются на разных страницах (p) в разных секциях (s) сайта. */
/**/
/**/
/* page-container - это ширина контента 1170px + паддинги по 15px слева и справа = 1200px. */
.page-container {
    /* Для того, чтобы при ширине дисплея меньше 1200, дисплей подстраивался и не появился горизонтальный скрол. Ширина контента 1170, a 1200 - это с учетом паддингов по 15px слева и справа. */
    max-width: 1200px;
    /* Для того, чтобы контейнер не касался левых и правых краев дисплеев планшетов и телефонов с шириной дисплея меньше max-width: 1200px. */
    padding: 0 15px;
    /* Центрируем page-container. */
    margin: 0 auto;
}