/* =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */
/* =*= Общая предварительная стилизация тегов =*= */
/* =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */
/* Исползуюется на разных страницах (p) в разных секциях (s) сайта. */
/**/
/**/
html {
    /* После этого, padding и border не будет увеличивать ширину и высоту элементов, а будут высчитывать ширину и высоту элементов внутри элементов. */
    box-sizing: border-box;
}

body {
    /* Акцентный (превалирующий) цвет шрифта. */
    color: rgb(0, 0, 0);
    /* Акцентный (превалирующий) шрифт. */
    font-family: "Arial";
    font-weight: 400;
    font-style: normal;
    /* Акцентный (превалирующий) размер шрифта. */
    font-size: 14px;
    /* Акцентная (превалирующая) высота шрифта. */
    line-height: 20px;
    /* Акцентный (превалирующий) фон. */
    background-color: rgb(255, 255, 255);
    /* Для абсолютного позиционирования (относительно тега body) элементов, у которых будет прописано "position: absolute;". */
    position: relative;
    /* Отключаем margin. */
    margin: 0;
    /* Отключаем padding. */
    padding: 0;
}

*,
*::before,
*::after {
    /* Наследование свойства от родителя (тега html). */
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* Если вдруг понадобится например где-то заменить элемент h3 на h4 или h2, то верстка при этом не crash-ится благодаря свойству " margin: 0; ". */
    margin: 0;
    /* Наследование свойства от родителя. */
    font-size: inherit;
}

a {
    /* Акцентный (превалирующий) цвет шрифта для ссылок. */
    color: rgb(0, 0, 0);
    /* Убираем подчеркивания у всех ссылок. */
    text-decoration: none;
    /* Обычно надо, чтобы все ссылки были строчно-блочные. */
    display: inline-block;
}

ul,
li {
    /* Отключаем маркеры у всех маркерных списков. */
    list-style: none;
    /* Отключаем margin. */
    margin: 0;
    /* Отключаем padding. */
    padding: 0;
}

p {
    /* Отключаем margin. */
    margin: 0;
    /* Отключаем padding. */
    padding: 0;
}

/* Убираем дефолтную стилизацию тегов button. */
button {
    background: 0;
    border: none;
    /* Отключаем margin. */
    margin: 0;
    /* Отключаем padding. */
    padding: 0;
    cursor: pointer;
    /* Убираем рамку вокруг активной (нажатой) кнопки. Хотя для доступности сайта, эта рамка может быть нужна для выделения активной (нажатой) кнопки. */
    outline: none;
    /* Т.к. по дефолту у тегов button шрифт свой, то наследем шрифт от родителя. */
    font-family: inherit;
    color: rgb(0, 0, 0);
}

/* Убираем дефолтную стилизацию тегов input. */
input {
    border: none;
    /* Т.к. по дефолту у тегов input шрифт свой, то наследем шрифт от родителя. */
    font-family: inherit;
}
