/* =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */
/* =*= snippet_01 (плавное подчеркивание ссылок при наведении курсора) =*= */
/* =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= */
/* Snippet - фрагмент кода, пригодный для повторного использования.
Если для разных html-страниц нужны разные стили одного и того же snippet,
то эти стили нужно переопределить для конкретной страницы, но не в css-коде,
а html-коде данной страницы, через тег <style></style>. Прописать новые стили
нужно после открывающего тега <body>. */
/**/
a {
    position: relative;
    color: black; /* Задаём цвет ссылки. */
    cursor: pointer;
    line-height: 1; /* Задаём высоту строки. */
    text-decoration: none; /* Убираем подчёркивание. */
}
a:after {
    display: block;
    position: absolute;
    left: 0; /* Изменить на right:0;, чтобы изменить направление подчёркивания. */
    width: 0; /* Задаём длинну линии до наведения курсора. */
    height: 1px; /* Задаём ширину линии. */
    background-color: black; /* Задаём цвет линии. */
    content: "";
    transition: width 0.3s ease-out; /* Задаём время анимации. */
}

a:hover:after,
a:focus:after {
    width: 100%; /* Устанавливаем значение 100% чтобы ссылка подчёркивалась полностью. */
}
